:root {
  --clr-primary-1: #222831;
  --clr-primary-2: #e0e0ff;
  --clr-primary-3: #f5f5ff;
  --clr-primary-4: #00fff5;
  --clr-primary-5: #00adb5;
  --clr-primary-6: #d1e4ff;
  --clr-primary-7: #061328;
  --clr-primary-8: #002761;
  --clr-primary-9: #2b323b;
  --clr-primary-10: #2e558e;
  --clr-grey-1: #102a42;
  --clr-grey-2: #609fe1;
  --clr-grey-3: #e0f0ff;
  --clr-grey-4: #48647f;
  --clr-grey-5: #a3d3ff;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #007bff4d;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: #bb2525;
  --clr-red-light: #ff3131;
  --clr-green-dark: #25bb32;
  --clr-green-light: #6be675;
  --clr-black: #222;
  --clr-stars: #ffd900;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: url(./assets/robots.png);
  color: var(--clr-grey-10);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid var(--clr-primary-4);
}

h1,
h2,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  color: var(--clr-primary-5);
  text-transform: capitalize;
  line-height: 1.25;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

.section-center {
  margin: 0 2rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  padding: 3rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.text-center {
  text-align: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-4);
  animation: spinner 0.6s linear infinite;
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  border-color: transparent;
}

.btn:hover {
  color: var(--clr-primary-4);
  background: var(--clr-primary-7);
}

.title {
  text-align: center;
}

.title .underline {
  width: 10rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right, transparent 0%, #f00 100%);
}

.underline {
  width: 10rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right, transparent 0%, #f00 100%);
}

.page-404 {
  min-height: calc(100vh - 11rem);
  padding: 5rem 0;
  display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.img-404 {
  height: 10rem;
}
.h1-404 {
  font-size: 8rem;
}
.h3-404 {
  text-transform: none;
  margin-bottom: 2rem;
}
.page {
  min-height: calc(100vh - (20vh + 10rem));
}
